body, html{
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}
.bloc{
    header{
        h1{
            color: rgb(253,203,70);
        	background-color: rgb(87,156,135);
        	text-align: center;
        	padding-top: 2%;
        	padding-bottom: 2%;
        	width: 100%;
        	font-size: 5em;
        	margin-top: 0;
            margin-bottom: 4%;
            a{
                text-decoration: none;
                color: rgb(253,203,70);
            }
        }
    }
}
.bloc{
    aside{
        h2{
            text-align: center;
        	font-size: 4em;
        }
    }
}
.conteneur{
    background-color: rgb(237,239,239);
	width: 80%;
	margin-left: 10%;
    margin-bottom: 10%;
    -webkit-box-shadow: 1px 1px 12px #aaa;
    padding-bottom: 5%;
    h2{
        text-align: center;
    	font-family: "dancing script", sans-serif;
    	margin-bottom: 10%;
    	padding-top: 15%;
    	font-size: 8em;
    	font-weight: 400;
    	background: #0228dd;
    	background: linear-gradient(315deg,#0228dd 0%, #0670f3 50%, #229df9 80%);
    	background: -webkit-linear-gradient(315deg,#0228dd 0%, #0670f3 50%, #229df9 80%);
    	background: -moz-linear-gradient(315deg,#0228dd 0%, #0670f3 50%, #229df9 80%);
    	-webkit-background-clip: text;
    	color: transparent;
    }
}
.titre{
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .borduregauche{
        width: 25%;
        height: 1.5em;
    }
    .borduredroite{
        width: 25%;
        height: 1.5em;
    }
    div{
        h3{
            text-align: center;
        	font-family: Caveat, sans-serif;
        	font-size: 4em;
	        font-weight: 300;
            &:after{
                content: '';
                display: flex;
                height: 1px;
                width: 0;
                transition-property: width;
                transition-duration: 0.8s;
                transition-timing-function: ease;
                transition-delay: 0s;
            }
            &:hover:after{
                width: 100%;
                background: #444;
            }
        }
    }
}
.liste{
    list-style-type: none;
    li{
        display: flex;
	    justify-content: space-between;
	    width: 87%;
        margin-left: 4%;
        div{
            p{
                font-family: Caveat, sans-serif;
            	font-size: 2.5em;
            	font-weight: 300;
            	margin-bottom: 4%;
	            margin-top: 0;
            }
        }
    }
}
.footer{
    position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    div{
        background-color: rgb(87,156,135);
    	padding-top: 1%;
    	padding-bottom: 1%;
    	padding-left: 1.5%;
    	padding-right: 1.5%;
    	display: flex;
        justify-content: space-between;
        a{
            color: rgb(253,203,70);
        	font-size: 1.5em;
            text-decoration: none;
            &:hover{
                animation: shake 0.5s;
            	animation-iteration-count: infinite;
            }
        }
    }
}
@keyframes shake {
	0% {transform: translate(1px, 1px) rotate(0deg);}
	10% {transform: translate(-1px, -2px) rotate(-1deg);}
	20% {transform: translate(-3px, 0px) rotate(1deg);}
  	30% {transform: translate(3px, 2px) rotate(0deg);}
  	40% {transform: translate(1px, -1px) rotate(1deg);}
  	50% {transform: translate(-1px, 2px) rotate(-1deg);}
  	60% {transform: translate(-3px, 1px) rotate(0deg);}
  	70% {transform: translate(3px, 1px) rotate(-1deg);}
  	80% {transform: translate(-1px, -1px) rotate(1deg);}
  	90% {transform: translate(1px, 2px) rotate(0deg);}
  	100% {transform: translate(1px, -2px) rotate(-1deg);}
}