html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: roboto, sans-serif;
}

.bloc header {
  color: #fdcb46;
  background-color: #579c87;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  font-size: 3em;
}
.bloc header h1 {
  margin: 0;
}
.bloc header h1 a {
  text-decoration: none;
  color: #fdcb46;
}

.corps div {
  display: flex;
  justify-content: center;
}
.corps .menu {
  -webkit-box-shadow: 1px 1px 12px #aaa;
}
.corps .menu div {
  max-width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  transition: transform 400ms;
  align-items: center;
}
.corps .menu div:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  cursor: pointer;
  opacity: 0.5;
}

.note {
  min-width: 300px;
  width: 20%;
  height: 281px;
  padding: 8% 0 8% 0;
  margin: 5% 5% 5% 0;
  background: #fcdfdb;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}
.note svg {
  width: 4em;
  height: 4em;
}
.note div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.note div h3 {
  font-family: devonshire, sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
.note div h2 {
  font-family: kalam, sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  margin: 5% 0 0 0;
}

.chic {
  background-color: #fff5fe;
  min-width: 300px;
  width: 20%;
  height: 281px;
  padding: 8% 0 8% 0;
  margin: 5% 0 5% 0;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}
.chic div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.chic div h3 {
  font-family: croissant one, sans-serif;
  font-size: 1.3em;
  background: #c67412;
  background: linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
  background: -webkit-linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
  background: -moz-linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
  -webkit-background-clip: text;
  color: transparent;
}
.chic div h2 {
  font-family: Libre Baskerville, sans-serif;
  color: #c77412;
  font-size: 2em;
  margin-top: 0;
}

.delice {
  background-color: #edefef;
  min-width: 300px;
  width: 20%;
  height: 281px;
  padding: 8% 0 8% 0;
  margin: 0 5% 5% 0;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}
.delice div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.delice div h3 {
  font-family: dancing script, sans-serif;
  font-size: 2em;
  width: 100%;
  background: #0228dd;
  background: linear-gradient(315deg, #0228dd 0%, #0670f3 50%, #229df9 80%);
  background: -webkit-linear-gradient(315deg, #0228dd 0%, #0670f3 50%, #229df9 80%);
  background: -moz-linear-gradient(315deg, #0228dd 0%, #0670f3 50%, #229df9 80%);
  -webkit-background-clip: text;
  color: transparent;
}
.delice div h2 {
  font-family: caveat, sans-serif;
  color: #0887fb;
  font-size: 3em;
  font-weight: 400;
  margin-top: 0;
}

.gout {
  width: 20%;
  min-width: 300px;
  height: 281px;
  padding: 8% 0 8% 0;
  text-decoration: none;
  color: black;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}
.gout div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.gout div h3 {
  font-family: merienda, sans-serif;
  font-size: 1.5em;
  background: #3d923a;
  background: linear-gradient(315deg, #3d923a 0%, #89d262 40%, #beff7f 60%);
  background: -webkit-linear-gradient(315deg, #3d923a 0%, #89d262 40%, #beff7f 60%);
  background: -moz-linear-gradient(315deg, #3d923a 0%, #89d262 40%, #beff7f 60%);
  -webkit-background-clip: text;
  color: transparent;
}
.gout div h2 {
  color: #72bf56;
  font-family: caveat, sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin-top: 0;
}

.bloc aside {
  display: flex;
  justify-content: center;
}
.bloc aside h2 {
  color: #fdcb46;
  background-color: #579c87;
  width: 40%;
  min-width: 350px;
  text-align: center;
  padding: 0.6% 0 0.6% 0;
  border-radius: 11px;
  font-weight: 400;
  font-size: 2.5em;
  overflow: hidden;
  margin: 0 0 10% 0;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.dots {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.dots:nth-child(2) {
  animation-delay: 0.2s;
}
.dots:nth-child(3) {
  animation-delay: 0.4s;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer div {
  background-color: #579c87;
  padding: 1% 1.5% 1% 1.5%;
  display: flex;
  justify-content: space-between;
}
.footer div a {
  color: #fdcb46;
  font-size: 1.5em;
  text-decoration: none;
}
.footer div a:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*# sourceMappingURL=style.css.map */
